{% extends 'base.html' %}

{% block head_css %}
<style>
    body {
        background-image: url('https://daradona10-milestoneproject4.s3.amazonaws.com/media/images/football.jpg');
        background-repeat: no-repeat;
    }

    #bottom-container {
        padding-bottom: 0;
    }
</style>
{% endblock %}

{% block home_page %}

<div id="home-page-cards-container">
	<section class="container-fluid navigation-container" style="text-align: center;">
		<div class="row">
            <div class="col-md-1 col-sm-12">
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/jerseys/"><div class="card home-page-cards">Jerseys</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/shorts/"><div class="card home-page-cards">Shorts</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/socks/"><div class="card home-page-cards">Socks</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/base_layers/"><div class="card home-page-cards">Base Layers</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/footballs/"><div class="card home-page-cards">Footballs</div></a>
            </div>
        </div>
	</section>
</div>
{% endblock %}