{% extends 'base.html' %}

{% block head_css %}
<style>
    body {
        background-image: url('https://daradona10-milestoneproject4.s3.amazonaws.com/media/images/football.jpg');
        background-repeat: no-repeat;
    }

    #bottom-container {
        padding-bottom: 0;
    }
</style>
{% endblock %}

{% block home_page %}

<div class="row" style="text-align: center; margin-top: 10em; color: #2fa4e7;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="border: 1px solid #fff; padding: 3em;">
            <p style="font-size: 2em; font-weight: bold; text-shadow: 1px 2px 8px #000;">WELCOME TO</p>
            <p style="font-size: 3.5em; font-weight: bold; text-shadow: 1px 2px 8px #000;">FOOTBALL WORLD</p>
            <p style="font-size: 1.5em; color: #fff; text-shadow: 1px 2px 8px #000;">THE HOME OF FOOTBALL EQUIPMENT</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div id="home-page-cards-container">
<div class="container-fluid navigation-container">
		<div class="row">
			<div class="col-12">
				<h2 class="headings text-center">The Best Online Football Equipment Store</h2>	
			</div>
		</div>
	<section class="container-fluid navigation-container" style="text-align: center;">
		<div class="row">
            <div class="col-md-1 col-sm-12">
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/jerseys/"><div class="card home-page-cards">JERSEYS</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/shorts/"><div class="card home-page-cards">SHORTS</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/socks/"><div class="card home-page-cards">SOCKS</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/base_layers/"><div class="card home-page-cards">BASE LAYERS</div></a>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="/products/footballs/"><div class="card home-page-cards">FOOTBALLS</div></a>
            </div>
        </div>
	</section>
</div>
{% endblock %}