{% extends 'base.html' %}

{% block head_css %}
<style>
    body {
        background-image: '';
    }

    #bottom-container {
        padding-bottom: 10em;
    }
</style>
{% endblock %}

{% block head_js %}
<script type="text/javascript">
    function getVal(sel) {
        $(sel).parent().parent().find('#item_size').val(sel.value);
    }
</script>
{% endblock %}

{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <table class="table">
                    <tr>
                        <td colspan="1">PRICE</td>
                        <td colspan="2">€ {{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>RATING</td>
                        <td>{{ product.rating }}</td>
                    </tr>
                    {% if product.category == 'jersey' or product.category == 'shorts' or product.category == 'socks' or product.category == 'base_layer' %}
                    <tr>
                        <td>SIZE</td>
                        <td>
                            <select class="product_size" onchange="getVal(this)">
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                        </select>
                        </td>
                    </tr>
                    {% endif %}
                </table>

                <form method="post" action="{% url 'add_to_cart' product.id %}" class="add_to_cart_form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="item_size" type="hidden" name="size" type="text" class="form-control" value="XS">
                        <input name="quantity" type="number" min="1" max="20" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">Add To Cart</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}