body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

body {
    font-family: "Cairo", sans-serif;

    min-height: 100vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


body:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #00818a; center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Color Schemes - reusable colour schemes for pages and containers*/

.nav-footer-color {
    background-color: #293462;
    color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
}

.bg-clr-yellow {
    background-color: #ec9b36;
}

.bg-clr-red {
    background-color: #e45454ed;
}

/*Button for submitting contact form*/

.btn-red-transition {
    color: #fafafa;
    font-weight: 600;
    background-color: #293462;
    border: 0px solid;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

/* General Formatting - general formatting for reuse on pages, items such as headdings, containers for content*/

.btn-red-transition:hover {
    color: #f7be16;
}

.uppercase {
    text-transform: uppercase;
}

.headings {
    padding-top: 50px;
    font-weight: 600;
    color: #fafafa;
}

.headline-text {
    font-size: 20px;
    color: #fafafa;
}

.border-box {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.box-format {
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

/* Navigation Section - styling and formatting for use of reusable nav bar at top of pages*/

.navbar-nav {
    text-align: center
}

.navbar-brand img {
    border: 3px solid #fafafa;
    max-width: 60px;
}

.navbar-brand-text {
    font-weight: 600;
    color: #fafafa;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ec9b36;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    border-color: #fafafa;
}

/*....... section*/

section {
    margin-top: 63px;
    padding: 15px;
}

/*index...formatting of index page, jumbotron and nav*/

.index-container {
    height: 100vh;
    background-color: #fafafa;
    background: url("../images/boxer.jpg") no-repeat top center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-heading {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-text {
    margin: 30px;
    font-size: 24px;
    color: #fafafa;
}

.navigation-container {
    margin-top: 0px;
    background-color: transparent;
}

.navquestion {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navquestion a {
    text-decoration: none;
}

.navquestion a span {
    color: #fafafa;
}

/* Formatting for floating of images for mobile design*/

.img {
  max-width: 100% ;
  height: auto ;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.price-img-float {
    border: 3px solid #293462;
    border-radius: 25px;
    margin: 10px auto 10px auto;
    float: none;
}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0;
  background: rgb(247, 240, 240); /* Fallback color */
  background: rgb(245, 242, 242);
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.container-wrapper {
     margin-top: 50px;
     margin-bottom: 40px;
}

.container-wrapper--yellow{
    background-color: #f9931eed;
    color: white;
}

/*page heading formatting on pages*/
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/*features section formatting and team members layout design */
.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.team {
    margin-bottom: 25px;
}

.blockquote {
    color: #fafafa;
}

.text-uppercase {
    color: #e7bd73;
}

/* formatting on table and progress bars with bootstrap layout*/
.table {
    padding: 40px;
    margin-top: 30px;
    border-radius: 40px;
    width: 100%;
    border-top: 0;
    border: 100%;
    position: relative;
}


.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}

.progress-section {
    margin: 40px 20px;
}

/* Footer Section -reuable on every page */

footer {
    margin-top: auto;
}

.three-reasons-icon {
    font-size: 26px;
    color: #f7be16;
}

.footer-headings {
    padding-top: 15px;
    font-weight: 600;
}


.footer-links li a i {
    color: #f7be16;
    font-size: 25px;
    text-align: center;
    padding: 0px;
    width: 35px;
    height: 35px;
}


/*media queries for larger viewports*/

@media (min-width:992px) {
    .navbar-brand img {
        border: 3px solid;
        max-width: 100px;
    }

section {
     margin-top: 81px;
 }

.price-img-float {
    float: left;
    margin: 10px 10px 10px 0px;
}

.contact-links li a i {
        color: #fafafa;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #f7be16;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }


.footer-links li a i {
        color: #fafafa;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #f7be16;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }

/*block diver formatting*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fafafa;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Formatting of Location map for responsive design*/

.embed-responsive-item {
    margin-top: 30px;
}